<!-- THIS FILE SHOULD BE IN A SEPARATE FOLDER TO BE APPLIED AFTER ALL PATCHES IN APP_CONFIG\INCLUDE FOLDER -->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Analytics.ChromeDebugger.UseSecret" value="true"></setting>
      <setting name="Analytics.ChromeDebugger.SecretKey" value="abc"></setting>
    </settings>
    <pipelines>
      <startTracking>
        <processor type="SharedSource.ChromeAnalyticsDebugger.Pipelines.AddChromeAnalyticsHeaders, SharedSource.ChromeAnalyticsDebugger"/>
      </startTracking>
    </pipelines>
  </sitecore>
</configuration>
